body {
    background: rgba(114, 167, 167, 0.986);
}

h1{
  color: cyan;
  text-align: center;
}
h3{
  margin-top: 350px;
  text-align: center;
  font-size: large;
}
h5{
  margin-top: -15px;
  text-align: center;
  /*font-size: large;*/
}
h6{
  margin-top: -400px;
  margin-right: -1em;
  text-align: center;
  font-size: large;
  color :rgba(30, 77, 77, 0.986)
}
.container {
  z-index: 4;
  /*width: 100%;*/
  background: #270349FF;
  padding:1em;
  border:1px solid #000000;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 12px;
}

button{
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
}

#tutorial{
  border-radius: 12px;
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  padding: 1em;
  margin: 1em;
}
#displayKeys{
  margin-top: 1em;
}

.white {
  position: relative;
  background: rgb(255, 255, 255);
  width: 10%;
  height: 400px;
  margin: 0 2px;
  border-radius: 6px;
}

.white.black:after {
  content: "";
  position: absolute;
  right: -28%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  top: 0;
  background: #270349FF;
  width: 50%;
  height: 50%;
  z-index: 2;
}

/* SVG effects here*/
.sparksContained{
  z-index: 0;
  position: fixed;
  top: 199px;
  right: 0;
  bottom: 0;
  left: 0;
}